

/* centers photo */
.center
{ 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* spreads out navigation links and centers */
nav
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly ;
  list-style-type: none;
}

img
{
  width: 300px;
  height: 300px;
}

h1, h2, h3 
{
text-align: center;
font-family: 'Times New Roman', Times, serif;
}

/* Font sizes */

h1
{
font-size: 40px;
}

h2
{
font-size: 30px;
}

/* container settings */
.container 
{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.column
{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;


}

article
{
  margin: 5%;
}


ol
{
  font-size: 25px;
}


a:link    { color: blue;  }
a:visited { color: red;   }
a:hover   { color: green; }
a:active  { color: yellow;  }

body, footer
{
background-color: lightgrey;
}

/* line breaks between sections */
hr
{
  margin: 5px;
  padding: 5px;
}






/* ---  (Desktop) Groups & Items --- */

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }

}

/* ---  Contact Form Design --- */

form 
{
/* keeps from from stretching to end */
width: 400px;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}


